:root {
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
}

.rps-main{
    margin-top: 30px;
    text-align: center;
}

.rps-main > h1,h2,h3,p{
    color: aliceblue;
    margin: 15px;
}

.scoreboard {
    margin-bottom: 15 px;
}

.scoreinfo {
    font-size: 32px;
}

.score-message {
    font-size: 20px;
    margin-bottom: 15px;
}

.scores-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    padding: 10px;
    margin: auto;
}

.score-box {
    width: 170px;
}

.score {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn {
    border-radius: 10px;
    background-color: var(--secondary-dark);
}

.btn-square {
    width: 160px;
    height: 160px;
}

.btn:hover {
    background-color: var(--secondary-dark-hover);
}

.btn:active {
    background-color: var(--secondary-dark-active);
}

.sign {
    font-size: 70px;
    margin-bottom: 10px;
}